html {background-color:#E2DFDE;
    padding-top:50px;
    padding-left: 40%;
}
h1{margin-left:-12%;
    font-family: cursive;
	margin-right:35%;
}
h2{margin-right:35%;
	
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
#demo{
	    box-sizing: content-box;    
    width: 250px;
    height: 100px;
 padding-top:15px;  
  background-color:grey;
  border: 1px solid black;
}



